<h1>{{title}}</h1>

<ul class="collection">
  {{#each projects}}
    <li class="collection-item avatar">
      <img src="http://www.limestone.edu/sites/default/files/user.png" alt="" class="circle">
      <span class="title">{{name}} - {{fullName}}</span>
      <p class="project-description">{{description}}</p>
      <div class="student-links">
        <a href={{deployedUrl}} class="waves-effect waves-light btn orange darken-2 student-links" target="_blank">Deployed</a>
        <a href={{gitUrl}} class="waves-effect waves-light btn orange darken-2 student-links" target="_blank">GitHub</a>
      </div>
    </li>
  {{/each}}
</ul>
