<h1>Student</h1>

<div class="row">
  {{#each student}}
    <div class="row">
      <div class="col s12">
        <div class="card orange student-info">
          <div class="card-content">
            <h4>{{student.fullName}}</h4>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab grey-text">
                <a class="active" href="#projects">Projects</a>
              </li>
              <li class="tab">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
          <div class="card-content grey lighten-4">
            <div id="projects">
              {{#if projects}}
              <ul class="collapsible" data-collapsible="accordion">
                {{#each projects}}
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons green-text">add_circle</i>{{name}}
                  </div>
                  <div class="collapsible-body">
                    <p class="project-description">{{description}}</p>
                    <div class="student-links">
                      <div>
                        <a href="/projects/{{id}}/edit" class="waves-effect waves-light btn grey darken-2 student-links">Edit</a>
                        <a href="#modal1" class="waves-effect waves-light btn grey darken-2 modal-trigger">Delete</a>
                      </div>
                      <div>
                        <a href={{deployedUrl}} class="waves-effect waves-light btn orange darken-2 student-links" target="_blank">Deployed</a>
                        <a href={{gitUrl}} class="waves-effect waves-light btn orange darken-2 student-links" target="_blank">GitHub</a>
                      </div>
                    </div>
                  </div>
                </li>
                <div id="modal1" class="modal">
                  <div class="modal-content">
                    <h4>Delete - {{name}}?</h4>
                    <p>Are you sure?</p>
                  </div>
                  <div class="modal-footer">
                    <form class="delete-button" action="/projects/{{id}}?student={{studentId}}&_method=delete" method="post">
                      <button id="delete-button" class="waves-effect waves-light btn red lighten-1" type="submit" name="delete-button">Delete</button>
                      <a href="#!" class="modal-action modal-close waves-effect waves-light btn grey darken-2">Cancel</a>
                    </form>
                  </div>
                </div>
                {{/each}}
              {{else}}
                <p>No projects currently.</p>
              {{/if}}
              </ul>
            </div>
            <div id="contact">
              <div class="row">
                <div class="col s12">
                  <div class="card-panel white">
                    <p class="student-email">{{student.email}}</p>
                    <a href="https://github.com/{{student.githubUsername}}" class="waves-effect waves-light btn orange darken-2" target="_blank">GitHub</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>